body {
    background: #f0e68c;
  }
#search_form {
    display:inline-block;
    font: bold 15px Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:x-large;
    color:black;
}

#search_form label {
    padding : 0 15px;    
}

#search_form input[type="image"] {
    display:inline-block;
    height:35px;
}

#search_input {
    font-size:xx-large;
}

div.a {
    text-align: center;
  }

  div.b {
    text-align: right;
  }

  div.c {
    text-align: right;
  }

