<html>
    <head>
        <title>CAMBIA PASSWORD</title>
        <link rel="stylesheet" type="text/css" href="css/CambiaPassword.css">
    </head>
    <body>
        <div id="header">
            <h1>CAMBIA PASSWORD</h1>
        </div>
        <div id="corpo">
        Inserisci qui la nuova password:<br><br>
        <form method="post" th:action="@{/cambiapassword}" th:object="${cambiaPasswordForm}">
            <input type="text" value="" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            <input type="submit" value="Conferma password">
            </form>
        </div>
    </body>
</html>