<!DOCTYPE html>
<html>
<head>
    <title>Contattaci</title>
    <h1>CONTATTACI</h1>
    <link rel="stylesheet" type="text/css" href="static/Contattaci.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="body">
    <br><br><br>
    <div class="row">
        <div class="col-sm-6">
            <label for="da">Da:</label><br>
            <input type="email" name="da" ><br>
            <label for="a">A:</label><br>
            <input type="email"  name="email" ><br>
            <label for="oggetto">Oggetto:</label><br>
            <input type="text"  name="oggetto" ><br>
            <label for="messaggio">Messaggio:</label><br>
            <input type="text"  name="messaggio" size="60" maxlength="300" ><br><br>
            <input type="submit" name="invia" value="Invia mail">
        </div>
        <div class="col-sm-6">
            <a href="https://www.facebook.com/"><img src="images/facebook.jpg" width="60" height="60"></a>
            Facebook
            <br><br><br>
            <a href="https://www.instagram.com/"><img src="images/instagram.jpg" width="60" height="60"></a>
            Instagram
            <br><br><br>
            <a href="https://twitter.com/explore"><img src="images/twitter.png" width="60" height="60"></a>  
            Twitter 
            <br><br>
        </div>
      </div> 
      <footer>
        <input type="button"  onclick="document.location.href='Home.html';" value="Home">
      </footer>

</body>
</html>