<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/Home.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="body">
    <ul>
        <li><a class="active" href="Home.html">Home</a></li>
        <li><a href="/Prenotazione">Prenota</a></li>
        <li><a href="/Contattaci">Contattaci</a></li>
        <li><a href="/Notifiche">Notifiche</a></li>
        <li><a href="/myaccount">Profilo</a></li>
        <li id="cerca"><input type="text" name="cerca" value="Ricerca..."></li>
        <li id="bottone"><input type="button"  name="bottonecerca" value="Cerca"></li>
      </ul>

      <div class="row">
        <div class="col-sm-4">
            <p><b>Eventi disponibili</b></p>
            <p id="evento1">
                San Siro<br>
                10/04/2020 17:00<br>
                Piazzale Angelo Moratti<br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli">
            </p>
            <br>
            <p id="evento1">
                San Paolo<br>
                25/05/2020 10:00<br>
                Piazzale Vincenzo Tecchio<br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli">
            </p>
            <br>
            <p id="evento1">
                Allianz Stadium<br>
                8/08/2020 14:00<br>
                Piazza la bomba e scappa<br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli">
            </p>
        </div>
        <div class="col-sm-4">
            <p><b>Eventi a cui parteciperai</b></p>
            <p id="evento"> 
                Oratorio San Giuseppe  <img src="images/mappa.jpg" id="mappa" align="right"><br>
                Basket <br>
                15/04/2020<br>
                12:00<br>
                <input type="button" id="cancella" name="cancella" value="Cancella evento">
            </p>
        </div>
        <div class="col-sm-4">
            <p><b>La tua squadra</b></p>
            <p id="squadra">
                <b>Scarsenal</b><br>
                Christian Boselli(Amministratore)<br>
                Alessandro Criscuoli<br>
                Marco Negri<br>
                <input type="button" id="aggiungi" name="aggiungi" value="Aggiungi membro">
            </p>
        </div>
      </div> 
    
</body>
</html>