<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/Home.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="body">
    <ul>
        <li><a>StoCamp</a></li>
        <li><a href="/Prenotazione">Prenota</a></li>
        <li><a href="/Contattaci">Contattaci</a></li>
        <li><a href="/Notifiche">Notifiche</a></li>
        <li><a href="/myaccount">Profilo</a></li>
        <li id="cerca"><input type="text" name="cerca" value=""></li>
        <li id="bottone"><input type="button"  name="bottonecerca" value="Cerca"></li>
      </ul>

      <div class="row">
        <div class="col-sm-4">
            <p><b>Eventi disponibili</b></p>
            <script>
            function funzionedettaglio1() {
            	document.getElementById("evento1").innerHTML += "Via ladroni 30" ;
            	}
            function funzionedettaglio2() {
            	document.getElementById("evento2").innerHTML += "Via Manchester 11" ;
            	}
            function funzionedettaglio3() {
            	document.getElementById("evento3").innerHTML += "Via Napoli 33" ;
            	}
            </script>
            <p id="evento1" >
                <label th:text="*{prenotazione1.nomecampo}"/><br>
                <label th:text="*{prenotazione1.data}"/>&nbsp;&nbsp;Ora inizio:&nbsp;<label th:text="*{prenotazione1.orainizio}"/>&nbsp;&nbsp;Ora fine:&nbsp;<label th:text="*{prenotazione1.orafine}"/><br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli" onclick="funzionedettaglio1()">
            </p>
            <br>
            <p id="evento2">
                <label th:text="*{prenotazione2.nomecampo}"/><br>
                <label th:text="*{prenotazione2.data}"/>&nbsp;&nbsp;Ora inizio:&nbsp;<label th:text="*{prenotazione2.orainizio}"/>&nbsp;&nbsp;Ora fine:&nbsp;<label th:text="*{prenotazione2.orafine}"/><br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli" onclick="funzionedettaglio2()">
            </p>
            <br>
            <p id="evento3">
               <label th:text="*{prenotazione3.nomecampo}"/><br>
                <label th:text="*{prenotazione3.data}"/>&nbsp;&nbsp;Ora inizio:&nbsp;<label th:text="*{prenotazione3.orainizio}"/>&nbsp;&nbsp;Ora fine:&nbsp;<label th:text="*{prenotazione3.orafine}"/><br>
                <input type="button" id="dettagli" name="bottone" value="Dettagli" onclick="funzionedettaglio3()">
            </p>
        </div>
        <div class="col-sm-4">
            <p><b>Eventi a cui parteciperai</b></p>
            <p id="evento"> 
                Oratorio San Giuseppe  <img src="images/mappa.jpg" id="mappa" align="right"><br>
                Basket <br>
                15/04/2020<br>
                12:00<br>
                <input type="button" id="cancella" name="cancella" value="Cancella evento">
            </p>
        </div>
        <div class="col-sm-4">
            <p><b>La tua squadra</b></p>
            <p id="squadra">
                <b><label th:text="*{squadra.nome}"/></b><br>
                <label th:text="*{squadra.partecipante1}"/><br>
                <label th:text="*{squadra.partecipante2}"/><br>
                <label th:text="*{squadra.partecipante3}"/><br>
                <label th:text="*{squadra.partecipante4}"/><br>
                <input type="button" id="aggiungi" name="aggiungi" value="Aggiungi membro">
            </p>
            <button><a href="/CreaSquadra">Crea squadra</a></button>
        </div>
      </div>
</body>
</html>