<html>
    <link rel="stylesheet" type="text/css" href="css/impostazioni.css">
    <div class="b"><button> <a href="/Home">Home</a></button></div>
    <div class="a">
    <form id="search_form" action="/..." method="post">
    <label>Cerca <input id="search_input" size="30" name="chiave" /></label>
    <input type="image" src="/1f50d.png">
    </form>
    </div><br><br>
    <h2>Le tue attivita saranno visibili solo a te</h2>
    <input type="checkbox" id="privacy" name="privacy" value="on.off">   
	</form>
  	<h2>Modifica Email e Password</h2><br>
    <h2>Configura metodo di pagamento</h2><br>
    <h2>Esci dall'Account</h2><br>
    <div class="c"><button>Salva</button></div>
</html>
