<html>
    <link rel="stylesheet" type="text/css" href="impostazioni.css">
    <div class="b"><button>Home</button></div>
    <div class="a"><form id="search_form" action="/..." method="post">
        <label>Search <input id="search_input" size="30" name="keyword" /></label>
        <input type="image" src="/1f50d.png">
    </form></div><br><br><br>
    <form action="/action_page.php"></form>
  <label for="privacy"><h2>Le tue attività saranno visibili solo a te</h2></label><br>
  <input type="checkbox" id="privacy" name="privacy" value="on.off">   
</form>
  <h2>Modifica Password o E-mail</h2><br>
    <h2>Configura metodo di pagamento</h2><br>
    <h2>Segui e invita amici</h2><br>
    <h2>Esci dall'Account</h2><br>
    <div class="c"><button>Salva</button></div>
</html>