<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/myaccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MyAccount</title>
</head>

<body>

<div id="header">
    <h2>STO CAMP</h2>
</div>

<div class="row">
    <div class="col-sm-4">
        <img src="profilo.jfif">
    </div>
    <div class="col-sm-4">
        <p><b>Username: </b><label th:text="*{utente.username}"/></p>
        <p><b>Eta': </b><label th:text="*{utente.eta}"/></p>
        <p><b>Citta' di residenza: </b><label th:text="*{utente.cittaresidenza}"/></p>
        <p><b>Indirizzo: </b><label th:text="*{utente.indirizzo}"/></p>
    </div>
    <div class="col-sm-4">
        <button><a href="/settingsaccount">Modifica Profilo</a></button>
        <button><a href="/impostazioni">Impostazioni</a></button>
        <button><a href="/Home">Home</a></button></div>
  </div>
</body>
</html>