<html>
    <head>
        <title>PASSWORD DIMENTICATA</title>
        <link rel="stylesheet" type="text/css" href="css/Password_dimenticata.css">
    </head>
    <body>
        <div id="header">
            <h1>Password Dimenticata</h1>
        </div>
        <div id="corpo">
        Inserisci il tuo username:<br><br>
        <form method="post" th:action="@{/Password_dimenticata}" th:object="${password_dimenticataForm}">
            <input type="text" value="" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
            <br><br>
            <input type="text" value="" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            <br><br>
            <input type="submit" value="Conferma modifiche">
            </form>
        </div>
    </body>
</html>