<!DOCTYPE html>
<html>
<head>
<title>Prenota</title>
<h1>EFFETTUA UNA PRENOTAZIONE</h1>
<link rel="stylesheet" type="text/css" href="css/Prenota.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="body">
    <br><br><br>
    <div class="row">
     <form method="post" th:action="@{/Prenotazione}" th:object="${prenotazioneForm}"> 
        <div class="col-sm-4" id="selezione">
        <h3>Seleziona campo</h3>
            <select name="nomecampo" th:value="${prenotazioneForm.nomecampo}">
                <option>Seleziona campo da gioco</option>
                <option>Old Trafford</option>
                <option>Rubentus Stadium</option>
                <option>San Paolo</option>
                <option>San Siro</option>
                <option>Santiago Bernabeu</option>
            </select>
        </div>
        <div class="col-sm-4" id="data"><h3>Seleziona data</h3>
        <input type="date" th:field="*{data}">
        <p th:if="${#fields.hasErrors('data')}" th:errors="*{data}" /></div>
        <div class="col-sm-4" id="orario">
            <h3>Seleziona orario</h3>
            <select name="orainizio" th:value="${prenotazioneForm.orainizio}">
                <option>Seleziona orario inizio</option>
                <option value="8.00">8.00</option>
                <option value="9.00">9.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
            </select>
             <select name="orafine" th:value="${prenotazioneForm.orafine}">
                <option>Seleziona orario fine </option>
                <option value="9.00">9.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
                <option value="14.00">14.00</option>
            </select>
        </div>
      	</div>
      <br><br>
</body>
<footer id="footer">
<input type="submit" value="Prenota">
<button><a href="/Home">Home</a></button>
</footer>
</html>