<html>
    <head>
        <title>REGISTRAZIONE</title>
        <link rel="stylesheet" type="text/css" href="Registrazione.css">
    </head>
    <body>
        <form method="GET" action="NameServlet">
            E-mail:<div class="a"><input type="text" id="txtemail" name="txtemail" value=""></div><br>
            Username:<div class="b"><input type="text" id="txtusername" name="txtusername" value=""></div><br>
            Password:<div class="c"><input type="password" id="txtpass" name="txtpass" value=""></div><br>
            Numero Telefonico:<div class="d"><input type="text" id="number" name="number" value=""></div><br>
            Nome:<div class="e"><input type="text" id="txtname" name="txtname" value=""></div><br>
            Cognome:<div class="f"><input type="text" id="txtcognome" name="txtcognome" value=""></div><br>
            Data di nascita:<div class="g"><input type="date" id="txtdata" name="txtdata"></div><br>
            <div class="h"><input type="submit" value="Sign In"></div>
        </form>
    </body>
</html>