<html>
    <link rel="stylesheet" type="text/css" href="static/settingsaccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div id="header">
        <h2>STO CAMP</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="images/profilo.jfif">
        </div>
        <div class="col-sm-4">
            <p><b>username: </b> <br><input type="text" id="txtusername" name="txtusername" value=""></p>
            <p><b>età: </b><br><input type="number" id="number" name="age" value=""></p>
            <p><b>città di residenza: </b><br><div class="a"><input type="text" id="txtname" name="txtname" value=""></p>
            <p><b>indirizzo: </b><br><input type="text" id="txtname" name="txtname" value=""></p>
        </div>
        <div class="buttons">
            <button>Salva</button>
            <button>Annulla</button>
      </div>
</html>