<html>
    <link rel="stylesheet" type="text/css" href="css/settingsaccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div id="header">
        <h2>STO CAMP</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="images/profilo.jfif">
        </div>
        <div class="col-sm-4">
        	
        	<form method="post" th:action="@{/settingsaccount}" th:object="${settingsAccountForm}">
				username: <input type="text" id="txtusername" name="txtusername" value="" th:field="*{username}"><br>				
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />		
				età: <input type="number" id="number" name="age" value="" th:field="*{eta}"><br>
				<p th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}" />
				città di residenza:<input type="text" id="txtname" name="txtname" value="" th:field="*{citta_residenza}"><br>
				<p th:if="${#fields.hasErrors('citta_residenza')}" th:errors="*{citta_residenza}" />
				indirizzo:<input type="text" id="txtname" name="txtname" value="" th:field="*{indirizzo}"><br>
				<p th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}" />
        </div>
        <div class="buttons">
				<input type="submit" value="Salva">
				<input type="submit" value="Annulla">
			</form>
      </div>
</html>